@font-face {
    font-family: Libre;
    src: url("/fonts/AbhayaLibre-Regular.ttf");
}
@font-face {
    font-family: Quicksand;
    src: url(/fonts/Quicksand-VariableFont_wght.ttf);
}
body{
    background-color: #fffef8;
    font-family: Quicksand,serif;
}
h1,h2{
    font-family: Libre;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:10px;
}
header i:first-child{
    position:relative;
    left:-80px;
}
header nav{
    text-align: center;
    padding-top:30px;
    padding-bottom:30px;
    display: flex;
    justify-content: center;
}
header .header{
    position: relative;
    bottom:20px;
}
header nav a{
    text-decoration: none;
    font-size: 13px;
    letter-spacing: 3px;
    color:white;
    margin:30px;
}
header nav a:active{
    border-bottom: 2px solid white;
}
.icons{
    position: relative;
    left:180px;
    bottom:-40px;
}
.icons i{
    margin-right:-70px;
}
.chatWithUs{
    transform: rotate(90deg);
    position: fixed;
    top:50%;
    left:-50px;
    color:white;
    background-color: rgb(95, 55, 60);
    padding:12px;
    font-size: 13px;
    letter-spacing: 2px;
}
header{
    background-image:linear-gradient(to top,rgba(0,0,0,0) 0%,rgba(56, 47, 47, 0.538) 100%),url("/images/ocean.jpg");
    background-size: 1550px;
    height:550px;
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    margin-bottom: 60px;
    overflow: hidden;
    padding-top:-200px;
}
.contact{
    position: relative;
    top:150px;
    font-size: 70px;
    letter-spacing: 2px;
    color:white;
    left:200px;

}
.plan a{
    text-decoration: none;
}
.plan a p{
    color:white;
    position: relative;
    font-size:15px;
    top:200px;
    left:210px;
    letter-spacing: 2px;
    font-weight:bold;
}
.plan a i{
    position: relative;
    top:180px;
    left:420px;
}
.section1{
    margin-top: 80px;
}
.section1 h1,.section1 p{
    text-align: center;
}
.section1 h1{
    font-size: 45px;
    letter-spacing: 1px;
    margin-bottom:20px;
}

.section1 p{
    font-size:18px;
}
.section2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    margin-top: 110px;
}
.section2 .div1{
    margin-left:150px;
    margin-top: 35px;
}
.section2 .div2{
    margin-right:130px;
    background-color: white;
    padding-top: 70px;
    padding-left:60px;
    padding-right:50px;
    width:650px;
    padding-bottom:70px;
}
.section2 .div1 p:first-child{
    font-size: 27px;
    line-height: 48px; 
}
.section2 .div1 p:nth-child(2){
    font-size: 21px;
    line-height: 35px;
    margin-top:50px;
}
.section2 .div2 #firstName{
    width:255px;
    height:45px;
    margin-right:20px;
}
.section2 .div2 #lastName{
    width:255px;
    height:45px;
}
.section2 .div2 #phone{
    width:535px;
    height:45px;
    margin-top:19px;
}
.section2 .div2 #email{
    width:535px;
    height:45px;
    margin-top:26px;
}
.section2 .div2 #message{
    width:535px;
    height:270px;
    margin-top: 20px;
    margin-bottom:40px;
}
.section2 .div2 #button{
    margin-top:30px;
    width:190px;
    height:48px;
    letter-spacing: 3px;
    font-size: 15px;
    font-weight:lighter;
    background-color:  rgb(95, 55, 60);
    color:white;
    cursor: pointer;
}
.section3{
    background-color: url("/images/antilopasRunning.jpg");
    padding-top:100px;
    text-align: center;
    padding-left:400px;
    padding-right:400px;
    padding-bottom:200px;
}
.section3 h1{
    font-size: 50px;
    font-weight: lighter;
    color:rgb(125, 86, 86);
    margin-bottom:50px;
}

.section3 p{
    line-height: 30px;
}
.section3 p:nth-child(3)
{
    margin-top:30px;
    color:rgb(125, 86, 86);
    font-size: 26px;
}

  

footer{
    margin-top:-70px;
}
.footerInfo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    margin:50px;
    margin-left:130px;
}
.footerInfo div ul li{
    list-style-type: none;
    margin-bottom: 4px;
}

.footerInfo div h5,.footerInfo div h3{
    color: white;
}
.footerInfo div h5{
    margin-bottom: 15px;
}
.footerInfo div ul li a,.footerInfo div p{
    text-decoration: none;
    color:white;
    font-size: 14px;

}
.footerInfo div ul li{
    padding-bottom: 6px;
}
.footerInfo div p{
    line-height: 30px;
}
#socialNetworkIcons i{
    border:2px solid white;
    padding:13px;
    border-radius: 50%;
    margin-right: 15px;
}
footer{
    background-color: #222;
    padding-top:40px;
    padding-bottom:40px;

}

.copyright{
    display: flex;
    flex-direction: row;
    margin-top:125px;
    align-items: center;
    margin-bottom:50px;
}
.copyright p,.copyright ul li{
    color:white;
    font-size: 12px;
}
.copyright div img{
    margin-right:20px;
    margin-left:140px;
}
.copyright p{
    margin-right: 20px;
}
.copyright ul{
    margin-left:380px;
}

.bottomList{
    display: flex;
}
.copyright ul li{
    list-style-type: none;
    margin-right:20px;
    font-size: 15px;
    text-decoration: none;
}
#kota{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 5px;
    border:3px solid white;
    padding:5px 7px;
    margin-left:0px;
}
.copyright ul a{
    text-decoration: none;
}
.bottomList a li{
    font-size: 14px;
}

.signin{
    position: relative;
    display:flex;
    flex-direction: row;
    justify-content: center;
    left:220px;
   
}
.signin p{
    position: relative;
    right:70px;
    bottom:6px;
    font-size:15px;
}
  